.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    width: 90%;
    max-width: 43rem;
    margin: 0 auto;
}

@media (min-width: 38rem) {
    .container {
        gap: 32px;
    }
}