.container {   
    position: relative;
}

.time-container {
    position: relative;
    text-align: center;
    height: 100%; 
    width: 100%;  
    font-size: 2.25rem;   
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 10px 0 var(--Almost-black);
}

.top, .bottom, .overlay-top, .overlay-bottom {
    height: 50%;
    overflow: hidden;
    background-color: var(--Dark-desaturated-blue);
    color: var(--Soft-red);
    position: relative;
}

.top, .overlay-top {
    line-height: 200%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.screen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00000030;
}

.bottom, .overlay-bottom {
    line-height: 0;
    border-top: 1px solid #00000025;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    perspective: 400px;
    /* transform-style: preserve-3d; */
}

.overlay-top {
    transform-origin: bottom;
}

.overlay-bottom {
    transform-origin: top;
}

.tiny-circle-left, .tiny-circle-right {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--Almost-black);
}

.tiny-circle-left {
    left: 0;
}

.tiny-circle-right {
    right: 0;
}

.top .tiny-circle-left,
.top .tiny-circle-right,
.overlay-top .tiny-circle-left,
.overlay-top .tiny-circle-right {
    bottom: 0;
}

.top .tiny-circle-left,
.overlay-top .tiny-circle-left {
    translate: -50% 50%;
}

.top .tiny-circle-right,
.overlay-top .tiny-circle-right {
    translate: 50% 50%;
}

.bottom .tiny-circle-left,
.bottom .tiny-circle-right,
.overlay-bottom .tiny-circle-left,
.overlay-bottom .tiny-circle-right {
    top: 0;
}

.bottom .tiny-circle-left,
.overlay-bottom .tiny-circle-left {
    translate: -50% -50%;
}

.bottom .tiny-circle-right,
.overlay-bottom .tiny-circle-right {
    translate: 50% -50%;
}

.label {
    position: absolute;   
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 26px;
    text-transform: uppercase;
    color: var(--Grayish-blue);
    font-weight: 700;
    font-size: 0.4375rem;
    letter-spacing: 0.185rem;
}

.overlay.flip .overlay-top {
    animation: flip-top 0.7s linear;
}

.overlay.flip .overlay-bottom {
    animation: flip-bottom 0.7s linear;
}

@keyframes flip-top {
    0% {
        transform: rotateX(0);
    }
    50% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(-90deg);
    }
}
  
  @keyframes flip-bottom {
    0% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0);
    }
}

@media (min-width: 38rem) {
    .time-container {
        font-size: 5rem;
    }
    .tiny-circle-left, .tiny-circle-right {
        width: 12px;
        height: 12px;
    }
    .label {
        font-size: 0.875rem;
        letter-spacing: 0.37rem;
    }
}